.table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.column {
    display: flex;
    flex-direction: column;
}

.cell {
    width: 70px;
    height: 20px;
    text-align: center;
    padding: 5px;
    border: 1px solid #000;
}